.leg {
  border-bottom: 1px dotted gray;
  background: lightgray;
  margin: 0.5rem;
  padding: 0.5rem;
  width: 90%;
  background: lightgray;
  border-radius: 5px;
  box-sizing: content-box;
}
.loader {
  position: absolute;
  top: 40vh;
  right: 40vw;
}

.flex-container {
  display: flex;
}

.flight-container {
  padding: 1rem;
  margin: 1rem auto;
  box-sizing: border-box;
  background: #ffffff;
  max-width: 80%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.flight-item {
  flex-grow: 1;
  font-size: 1.2rem;
  text-align: center;
}

.outbound-container,
.return-container {
  border-bottom: 1px dotted gray;
  flex-direction: column;
  align-items: center;
}

.flight-schedule {
  flex-grow: 3;
}

.price-btn {
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  padding: 1rem;
}

.total-price {
  font-size: 3.2rem;
  font-weight: bold;
  color: green;
}

.from-to {
  font-size: 1.8rem;
  font-weight: bold;
}

.btn-orange {
  background-color: #ff6d00;
  color: #fff;
  width: 80%;
  text-align: center;
}

a {
  color: #fff !important;
}
a:hover {
  text-decoration: none !important;
}

.first-flight,
.second-flight,
.leg {
  border: 1px solid #00000012;
  margin: 0.5rem;
  padding: 0.5rem;
  width: 90%;
  background: #007bff0d;
  border-radius: 5px;
  box-sizing: content-box;
}

.duration {
  margin: 0 auto;
  
}
